.card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 310px;
  padding: 10px 8px;
  border: 2px solid black;
  border-radius: 5px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.icon {
  padding: 5px;
}
.data {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.del_btn {
  display: block;
  height: 25px;
  box-shadow: 2px 2px 2px 2px grey;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  &:hover {
    background-color: #d2b48c;
  }
}
